<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">

<html>
    <head>
        <title>Report Service</title>
    </head>
	<body>
		<s:link action="#{invoiceRenderer.generateSfiInvoiceItemList}" 
			value="SFI Invoice" 
			propagation="none" target="_blank"/>
		<s:link action="#{specMapRptService.exportSpecMapRpt}" 
			value="Specialty Mapping Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{itemLocationRptService.generateItemLocationRpt}" 
			value="Item Location Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{suspendStatRptService.generateSuspendStatRpt}" 
			value="Suspension Stat Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{workloadStatRptService.generateWorkloadStatRpt}" 
			value="Workload Stat Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{workloadStatRptService.exportWorkloadStatRpt}" 
			value="Workload Stat Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsActivityRptService.generateEdsActivityRpt}" 
			value="EDS Activity Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeRptService.generateEdsWaitTimeRpt}" 
			value="EDS Wait Time Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeAuditRptService.generateEdsDailyWaitTimeAuditRpt}" 
			value="EDS Daily Wait Time Audit Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeAuditRptService.generateEdsMonthlyWaitTimeAuditRpt}" 
			value="EDS Monthly Wait Time Audit Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsPerfRptService.generateEdsPerfRpt}" 
			value="EDS Perf Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsStatusSummaryRptService.generateEdsStatusSummaryRpt}" 
			value="EDS Status Summary Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{sfiHandleChargeExemptionRptService.generateSfiHandleChargeExemptionRpt}" 
			value="SFI Handle Charge Exemption Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{sfiHandleChargeExemptionRptService.exportSfiHandleChargeExemptionRpt}" 
			value="SFI Handle Charge Exemption Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{qtyDurationConversionRptService.exportQtyConversionRpt}" 
			value="Qty Conversion" 
			propagation="none" target="_blank"/>
		<s:link action="#{qtyDurationConversionRptService.exportDurationConversionRpt}" 
			value="Duration Conversion" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpQtyDurationConversionRptService.exportMpQtyConversionRpt}" 
			value="Mp Qty Conversion" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpQtyDurationConversionRptService.exportMpDurationConversionRpt}" 
			value="Mp Duration Conversion" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpQtyDurationConversionRptService.exportPmsQtyConversionInsuRpt}" 
			value="Insulin Qty Conversion" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsTicketNumRptService.generateEdsTicketNumRpt}" 
			value="Ticket Number Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWorkloadRptService.generateEdsWorkloadRpt}" 
			value="EDS Workload Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{prescRptService.generatePrescRpt}" 
			value="Prescription Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{capdVoucherRptService.generateCapdVoucherRpt}" 
			value="Capd Voucher Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{refillRptService.generateRefillRpt}" 
			value="Refill Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{outstandSfiPaymentRptService.generateOutstandSfiPaymentRpt}" 
			value="Outstanding SFI Payment Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeRptService.exportEdsWaitTimeRpt}" 
			value="Eds Wait Time Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeAuditRptService.exportEdsDailyWaitTimeAuditRpt}" 
			value="Eds Daily Wait Time Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsWaitTimeAuditRptService.exportEdsMonthlyWaitTimeAuditRpt}" 
			value="Eds Monthly Wait Time Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{edsStatusDetailRptService.exportEdsStatusDetailRpt}" 
			value="Eds Status Detail Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{dayEndRptService.generateDayEndRpt}" 
			value="Day End Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{delItemRptService.generateDelItemRpt}" 
			value="Deleted Item Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpTrxRptPrintService.generateMpTrxRpt}" 
			value="Up-to-Date Transaction Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{labelService.previewDispLabel}" 
			value="Print Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{labelService.previewMpDispLabel}" 
			value="Print Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{labelService.printDispLabelForOrderEdit}" 
			value="Print Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{labelService.printMpDispLabelForOrderEdit}" 
			value="Print Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{testLabelService.previewDispLabel}" 
			value="Print Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{refillSelectionListService.exportRefillModuleMaintRpt}" 
			value="Refill Model Maint Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{itemLocationRptService.exportItemLocationRpt}" 
			value="Item Location Maint Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{refillRptService.exportRefillRpt}" 
			value="Refill Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{dosageConversionRptListService.exportDosageConversionRpt}" 
			value="Dosage Conversion Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpDosageConversionRptListService.exportMpDosageConversionRpt}" 
			value="IPMOE - Dosage Conversion Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{manualPrescRptService.exportManualPrescSummaryRpt}" 
			value="Manual Prescription Summary Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{manualPrescRptService.exportManualPrescRpt}" 
			value="Manual Prescription Detail Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{dnldTrxFileService.dnldTrxFile}" 
			value="Download Transaction File" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpItemRptService.exportMpItemSpecListRpt}" 
			value="IPMOE Item Specialty Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpItemRptService.exportMpItemPropertyListRpt}" 
			value="IPMOE Item Properties Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{mpItemRptService.exportMpFdnMappingListRpt}" 
			value="IPMOE FDN Mapping Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{haDrugFormularyMgmtRptDnldService.dnldFmRpt}" 
			value="Download Fm Report File" 
			propagation="none" target="_blank"/>
		<s:link action="#{mdsExceptionRptService.generateMdsExceptionRpt}"
			value="IPMOE Mds Exception Report"
			propagation="none" target="_blank"/>
		<s:link action="#{marService.showMarRpt}"
			value="MAR Report"
			propagation="none" target="_blank"/>
		<s:link action="#{exportKeyGuideService.generateKeyGuide}"
			value="Shortcut Key Guide Report"
			propagation="none" target="_blank"/>
		<s:link action="#{pmsMpSpecMappingListService.exportMpSpecMapRpt}"
			value="IPMOE Specialty Mapping Report"
			propagation="none" target="_blank"/>
		<s:link action="#{patientListRptService.generatePatientListRpt}"
			value="Patient List Report"
			propagation="none" target="_blank"/>
		<s:link action="#{drugRefillListRptService.generateDrugRefillListRpt}"
			value="Drug Refill List Report"
			propagation="none" target="_blank"/>
		<s:link action="#{patientDrugProfileListRptService.generatePatientDrugProfileListRpt}"
			value="Patient Drug Profile List Report"
			propagation="none" target="_blank"/>
		<s:link action="#{renalAdjService.generateRenalChartRpt}"
			value="Renal Chart"
			propagation="none" target="_blank"/>
		<s:link action="#{renalAdjService.generateRenalPdf}"
			value="Renal Pdf"
			propagation="none" target="_blank"/>
		<s:link action="#{pivasBatchPrepService.generatePivasProductLabel}" 
			value="Pivas Product Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{pivasRptService.generatePivasRpt}" 
			value="Pivas Report" 
			propagation="none" target="_blank"/>
		<s:link action="#{pivasRptService.exportPivasRpt}" 
			value="Pivas Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{pivasDrugListService.exportPivasDrugRpt}" 
			value="Pivas Drug Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{pivasFormulaService.exportPivasFormula}" 
			value="Pivas Formula Maint Export" 
			propagation="none" target="_blank"/>
		<s:link action="#{pivasBatchPrepService.generatePivasMergeFormulaProductLabel}" 
			value="Pivas Merge Formula Product Label" 
			propagation="none" target="_blank"/>
		<s:link action="#{cmmDrugGroupService.exportCmmDrugGroupRptList}" 
			value="Funding Source Drug Key Group List Export" 
			propagation="none" target="_blank"/>
    </body>
</html>
</ui:composition>
